@charset "UTF-8";
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@font-face {
  font-family: "RobotoBold";
  src: url("./assets/Fonts/static/Roboto-Bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "RobotoMedium";
  src: url("./assets/Fonts/static/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
